{{ define "base" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiveClass - {{ template "title" . }}</title>

    <!-- Styles -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    <!-- Scripts -->
    <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.8/dist/cdn.min.js"></script>
<!-- Google Sign-In API -->
<script src="https://accounts.google.com/gsi/client" async defer></script>

</head>

<body class="flex flex-col min-h-screen">
    {{ template "header" . }}

    <main id="main-content" class="flex-grow container mx-auto px-4 py-8">
        {{ template "content" . }}
    </main>

    {{ template "footer" . }}
</body>

</html>
{{ end }}